h1 {
    background-color: blanchedalmond;
    border: 5px dashed black;
    padding: 20px;
    margin: 0%;
    text-align: center;
}

p  {
    width: 600px;
    height: 150px;
    text-align: justify;
}
img {
    float: right;
}